gRPCPort: 8932
healthcheckPort: 8832
environment: Development
istioNamespace: istio-system
istioSecretName: custom-ca-tls
enableAutoProvisioningIstioCert: true
disableMTLS: false
metadataMapping:
  ClusterID: Cluster
  ServiceName: Service
  PodName: PodName
  PodIP: PodIP
  PodNamespace: PodNamespace
  TrustDomain: TrustDomain
